* {
  margin: 0;
  padding: 0;
}

body {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  min-height: 100vh;
}

button {
    border: 0;
    padding: 20px;
    color: white;
    background-color: yellow;
}

shape {
    width: 50px; 
    aspect-ratio: 1;
    clip-path: polygon(100% 50%,78.98% 57.76%,93.3% 75%,71.21% 71.21%,75% 93.3%,57.76% 78.98%,50% 100%,42.24% 78.98%,25% 93.3%,28.79% 71.21%,6.7% 75%,21.02% 57.76%,0% 50%,21.02% 42.24%,6.7% 25%,28.79% 28.79%,25% 6.7%,42.24% 21.02%,50% 0%,57.76% 21.02%,75% 6.7%,71.21% 28.79%,93.3% 25%,78.98% 42.24%);
}

/* Shape Spawning and Despawning Animations */

@keyframes pop-in-fade {
  0% {
    opacity: 0;
    transform: scale(0.5); /* Starts smaller */
  }
  70% {
    opacity: 1;
    transform: scale(1.1); /* Slightly larger than final size for a "pop" */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Final size */
  }
}

.my-element {
  animation: pop-in-fade 0.8s ease-out forwards;
}

/* Apply class to shape to trigger keyframes? OR use JS instead */